{% extends "base.html" %}
{% block title %}
    Форма обратной связи
{% endblock %}
{% block body %}
    <div class="one">
        <h1>Форма обратной связи</h1>
        <form method="post">
            <div class="three">
                <div class="two">
                    <label>Имя:</label><input id="first_name" type="text" name="first_name" placeholder="введите имя"><br>
                </div>
                <div class="two">
                    <label>Телефон:</label><input id="telephone" type="text" name="telephone" placeholder="введите номер телефона"
                    ><br>
                </div>
                <div class="two">
                    <label>E-mail:</label><input id="email" type="text" name="email" placeholder="email"><br>
                </div>
                <div class="two">
                    <label>Текст:</label><input id="texts" type="text" name="text" placeholder="произвольный"><br>
                </div>
            </div>
            <div>
              <input id='dwer' type="submit" value="Отправить" name="otpravit">
            </div>
        </form>
    </div>
{% endblock %}